# Public URL (users access this via HAProxy/Traefik)
external_url 'https://gitlab.btnxlocal.ru'

# GitLab bundled NGINX listens internally (HTTP only) on GitLab node
nginx['listen_addresses'] = ['192.168.25.125', '127.0.0.1']
nginx['listen_port'] = 8443
nginx['listen_https'] = false
nginx['listen_http'] = true

# Trust reverse proxies in chain: HAProxy edge + Traefik managers
nginx['real_ip_header'] = 'X-Forwarded-For'
nginx['real_ip_recursive'] = 'on'
nginx['real_ip_trusted_addresses'] = [
  '192.168.25.22',
  '72.56.1.35',      # HAProxy edge
  '192.168.25.137',  # Traefik manager 1
  '192.168.25.138',  # Traefik manager 2
  '192.168.25.139',  # Traefik manager 3
  '127.0.0.1'
]

# Rails-level trust for proxy chain
gitlab_rails['trusted_proxies'] = [
  '192.168.25.22',
  '72.56.1.35',
  '192.168.25.137',
  '192.168.25.138',
  '192.168.25.139',
  '127.0.0.1'
]

# Optional: registry through same public host
registry_external_url 'https://gitlab.btnxlocal.ru'
gitlab_rails['registry_enable'] = true
gitlab_rails['registry_host'] = 'gitlab.btnxlocal.ru'
gitlab_rails['registry_path'] = '/var/opt/gitlab/gitlab-rails/shared/registry'

# IMPORTANT:
# Do NOT set custom nginx['proxy_set_headers'] here for this topology.

